*{
    margin:0;
    padding:0;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
}

/* tamanho das caixas */
div{
    width:120px;
    height:120px;
}

/* imagens redondas */
.img1 img,
.img2 img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}

/* container do video */
.img3{
    border-radius:50%;
    overflow:hidden;
}

/* video */
.img3 video{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
    cursor:pointer;
    transition: transform 0.4s ease;
}

/* efeito quando passa o mouse */
.img3 video:hover{
    transform:scale(1.1);
}

/* quando clica */
.video-aberto{
    transform:scale(2);
}

/* video de fundo */
#bg-video{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index:-1;
    object-fit:cover;
}
#modal-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:none;
    justify-content:center;
    align-items:center;
}

#video-grande{
    width:60%;
    max-width:700px;
    border-radius:10px;
}
div{
    width:120px;
    height:120px;
    animation: subir 1s ease;
}

@keyframes subir{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.img1,
.img2,
.img3{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.1);
    padding:5px;
    border-radius:50%;
}
img, video{
    transition: transform 0.3s ease;
}

img:hover,
video:hover{
    transform: scale(1.1);
}
